.contact {
	height: 125vh;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-text {
	text-align: center;
	font-family: var(--font-primary);
	font-weight: var(--regular);
	color: var(--colour-primary);
	margin: 2rem 0 2rem 0;
	line-height: 2rem;
	padding: 2rem;
	max-width: 35ch;
	text-align: center;
	text-wrap: balance;
}

h2 {
	font-family: var(--font-secondary);
	font-weight: var(--extra-light);
	font-size: 2rem;
	color: var(--colour-primary);
	font-style: italic;
	text-align: center;
}

[data-theme="light"] h2 {
	color: var(--colour-secondary);
}

[data-theme="light"] .contact {
	& p {
		color: var(--colour-secondary);
	}
}

form {
	margin: 0 auto;
	max-width: 800px;
	width: 80%;
}

input {
	height: 2rem;
}

input,
textarea {
	font-family: var(--font-primary);
	background-color: transparent;
	width: 100%;
	padding: 0.5rem;
	border-top: none;
	border-right: none;
	border-radius: 5px;
	margin: 1rem auto;
}

[data-theme="dark"] input,
[data-theme="dark"] textarea {
	color: var(--colour-primary);
	border-left: 2px solid var(--gold);
	border-bottom: 2px solid var(--gold);
}

[data-theme="light"] input,
[data-theme="light"] textarea {
	color: var(--colour-secondary);

	border-left: 2px solid var(--colour-secondary);
	border-bottom: 2px solid var(--colour-secondary);
}

textarea {
	resize: none;
}

button {
	font-family: var(--font-secondary);
	color: var(--colour-primary);
	background: transparent;
	border: 2px solid var(--gold);
	border-radius: 5px;
	height: 3rem;
	width: 6rem;
	align-self: flex-start;
	margin-top: 1rem;
	cursor: pointer;
}

[data-theme="light"] button {
	color: var(--colour-secondary);
	background: transparent;
	border: 2px solid var(--colour-secondary);
}

label {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden; /* keeps it accessible for screen readers */
}

.error {
	color: var(--colour-error);
	font-family: var(--font-secondary);
	font-weight: var(--regular);
	margin-top: 0.5rem;
	font-size: 0.9rem;
}

[data-theme="light"] .success-dialog {
	background: var(--bkg-gradient-light);
	color: var(--colour-secondary);
	border: 2px solid var(--colour-secondary);
	border-radius: 10px;
	padding: 1rem;
	margin: 25% auto;
	width: 80%;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

[data-theme="dark"] .success-dialog {
	background: var(--bkg-gradient-dark);
	color: var(--colour-primary);
	border: 2px solid var(--gold);
	border-radius: 10px;
	padding: 1rem;
	margin: 25% auto;
	width: 80%;
	box-shadow: 0 4px 12px rgba(240, 239, 239, 0.15);
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
}

.dialog-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	line-height: 2.5rem;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-family: var(--font-secondary);
}

.dialog-button {
	padding: 0.5rem 1rem;
	background-color: transparent;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 1rem;
	align-self: center;
}

.dialog-button:hover {
	opacity: 0.9;
}

@media screen and (min-width: 768px) {
	.contact {
		height: 75vh;
	}
	form {
		width: 50%;
	}
}

@media screen and (min-width: 1024px) {
	h2 {
		font-size: 3rem;
	}

	form {
		width: 400px;
	}

	.contact {
		height: 150vh;
		& p {
			max-width: 21ch;
			text-wrap: balance;
			font-size: 1.2rem;
		}
	}

	input {
		height: 3rem;
		font-size: 1rem;
	}

	textarea {
		height: 10rem;
		font-size: 1rem;
	}

	button {
		height: 4rem;
		width: 8rem;
		font-size: 1rem;
	}

	[data-theme="dark"] .success-dialog {
		width: 50%;
		margin: 15% auto;
	}
	[data-theme="light"] .success-dialog {
		width: 50%;
		margin: 15% auto;
	}
}
