footer {
	color: var(--colour-primary);
	font-family: var(--font-primary);
	font-weight: var(--light);
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	width: 100%;
}

.footer-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.acknowledgements {
	font-size: 0.7rem;

	& p {
		margin: 1rem 0 0 0;
	}

	& ul {
		list-style: none;
		padding: 0;
	}

	li {
		margin: 0.5rem 0;
	}

	a {
		color: var(--colour-primary);
	}
}

.social-links {
	list-style: none;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	margin: 0.5rem auto;
	justify-content: center;
}

.social-links li {
	margin: 0 1rem;
}

[data-theme="light"] footer {
	color: var(--colour-secondary);
}
