header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background: rgba(255, 255, 255, 0);
	color: var(--colour-primary);
	padding: 1.5rem;
	height: 150px;
}

.logo {
	font-size: 1.5rem;
	font-weight: var(--bold);
}

.mode-toggle {
	margin-left: auto;
	margin-right: 15%;
}

.desktop-nav ul {
	list-style: none;
	display: flex;
	gap: 1rem;
}

.desktop-nav a {
	color: var(--colour-primary);
	font-family: var(--font-secondary);
	font-weight: var(--extra-light);
	font-style: italic;
	text-decoration: none;
}

.desktop-nav a:hover {
	text-decoration: underline;
}

.mobile-nav {
	height: 100vh;
	width: 100%;
}

.mobile-nav ul {
	list-style: none;
	align-items: center;
	justify-items: center;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	font-family: var(--font-secondary);
	font-style: italic;
	font-weight: var(--thin);
	font-size: 2rem;
}

@media screen and (min-width: 768px) {
	.mobile-nav {
		display: none;
	}

	.mode-toggle {
		margin-left: 0;
		margin-right: 0;
		cursor: pointer;
	}

	.desktop-nav {
		margin: 0 0 0 auto;
	}

	[data-theme="light"] a {
		color: var(--colour-secondary);
	}

	[data-theme="light"] .burger-container {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.logo > img {
		height: 100px;
		width: 270px;
		padding: 0 0 0 4rem;
	}

	.desktop-nav a {
		font-size: 1.2rem;
		padding: 0.5rem 1rem;
	}
	.desktop-nav a:hover {
		color: var(--gold);
	}

	.mode-toggle > img {
		height: 40px;
		width: 40px;
	}
}
