/* Hero & Homepage Styles */

.hero {
	color: var(--colour-primary);
	font-family: var(--font-secondary);
}

.hero-title {
	font-weight: var(--extra-light);
	font-size: 1.5rem;
	padding: 2rem;
}

.hero-description {
	font-family: var(--font-primary);
	font-weight: var(--light);
	margin: 4rem 2rem 4rem 2rem;
	font-size: 1.4rem;
}

.hero-description p {
	margin: 2.5rem 0;
	line-height: 2rem;
	max-width: 65ch;
}
span {
	color: var(--gold);
}

.hero-btns {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4.375rem;
	padding-bottom: 5rem;
}

[data-theme="dark"] .hero-img {
	background: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.62)),
		url("./images/dark-bkg-sm.png") no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 20rem;
}

[data-theme="light"] .hero {
	background: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.62)),
		url("./images/light-bkg-sm.png") no-repeat center center;
	background-size: cover;
	width: 100%;
}

.hero-subtitle {
	text-align: right;
	font-weight: var(--semi-bold);
	width: 14rem;
	margin-left: auto;
	margin-right: 2rem;
	padding-top: 2rem;
	font-size: 1.8rem;
	line-height: 30px;
}

[data-theme="light"] .hero-subtitle {
	margin-bottom: 50%;
}

.hero-btns a {
	border-radius: 10px;
	border: var(--btn-border-dark);
	font-family: var(--font-secondary);
	padding: 0.9rem;
	text-decoration: none;
}

[data-theme="light"] .hero-btns a {
	border: var(--btn-border-light);
}

.view-btn {
	background-color: var(--gold);
	color: var(--colour-secondary);
}

[data-theme="light"] .view-btn {
	background-color: var(--colour-secondary);
	color: var(--gold);
	border: 2px solid var(--colour-secondary) !important;
}

.contact-btn {
	background-color: transparent;
	font-family: var(--font-primary);
	color: var(--colour-primary);
}

[data-theme="light"] .contact-btn {
	color: var(--colour-primary);
	border: 2px solid var(--colour-primary) !important;
}

/*  */ /*  */ /*  */
/*  */ /*  */ /*  */
/* TABLET STYLES */
/*  */ /*  */ /*  */
/*  */ /*  */ /*  */

@media screen and (min-width: 768px) {
}
