.cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 2rem;
	margin: 10% 2rem 28% auto;
}

h2 {
	font-weight: var(--extra-light);
	font-size: 2rem;
	font-style: italic;
	text-align: center;
}

h3 {
	font-family: var(--font-secondary);
	font-weight: var(--regular);
	font-size: 1rem;
	margin: 2rem auto;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}
.discover-text {
	font-weight: var(--light);
	font-family: var(--font-primary);
	max-width: 65ch;
	text-align: left;
	padding: 2rem;
	font-size: 1.2rem;
	line-height: 2.5rem;
}

[data-theme="light"] .services {
	color: var(--colour-secondary);
	font-family: var(--font-primary);
	background: url("/images/services-dark-sm.webp") no-repeat center center;
	background-size: cover;
	min-height: 100vh;
}

[data-theme="dark"] .services {
	color: var(--colour-primary);
	font-family: var(--font-primary);
	background: url("/images/services-dark-sm.webp") no-repeat center center;
	background-size: cover;
	min-height: 100vh;
}

dialog {
	transition:
		display 0.4s allow-discrete,
		overlay 0.4s allow-discrete;

	animation: close 0.4s backwards;
	&[open] {
		animation: open 0.4s forwards;
	}
}

@keyframes open {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes close {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
}

[data-theme="dark"] dialog {
	align-items: center;
	background: var(--bkg-gradient-dark);
	color: var(--colour-primary);
	border: 2px solid var(--gold);
	border-radius: 10px;
	padding: 1rem;
	justify-content: center;
	margin: 25% auto;
	width: 100%;
}
[data-theme="light"] dialog {
	background: var(--bkg-gradient-light);
	color: var(--colour-secondary);
	border: 2px solid var(--colour-secondary);
	border-radius: 10px;
	padding: 1rem;
	justify-content: center;
	margin: 25% auto;
	width: 100%;
}

.dialog-content {
	display: flex;
	flex-direction: column;
	align-items: center;

	& .description {
		padding: 2rem;
		max-width: 65ch;
		line-height: 26px;
	}
}

[data-theme="dark"] button {
	font-family: var(--font-secondary);
	color: var(--colour-primary);
	background: transparent;
	border: 2px solid var(--gold);
	border-radius: 5px;
	height: 3rem;
	width: 6rem;
	align-self: flex-start;
	margin-top: 1rem;
	cursor: pointer;
}
[data-theme="light"] button {
	font-family: var(--font-secondary);
	color: var(--colour-secondary);
	background: transparent;
	border: 2px solid var(--colour-secondary);
	border-radius: 5px;
	height: 3rem;
	width: 6rem;
	align-self: flex-start;
	margin-top: 1rem;
	cursor: pointer;
}

[data-theme="light"] .dark-icon,
[data-theme="dark"] .light-icon {
	display: none;
}

[data-theme="light"] .light-icon,
[data-theme="dark"] .dark-icon {
	display: block;
}

@media screen and (min-width: 768px) {
	h2 {
		font-size: 2.5rem;
		margin: 2rem auto;
	}

	h3 {
		font-size: 1.4rem;
	}

	.discover-text {
		font-size: 1.2rem;
		line-height: 2.8rem;
		margin: 2rem;
		text-align: center;
	}

	.dark-icon,
	.light-icon {
		height: 50px;
		width: 50px;
	}

	[data-theme="dark"] dialog,
	[data-theme="light"] dialog {
		width: 60%;
	}

	.dialog-content {
		& .description {
			padding: 2rem;
			max-width: 65ch;
			line-height: 32px;
			font-size: 1.2rem;
		}
	}
}

@media screen and (min-width: 1024px) {
	h2 {
		font-size: 3rem;
		margin: 2rem auto;
	}

	h3 {
		font-size: 1.6rem;
		margin: 0;
	}

	.icon > img {
		height: 50px;
		width: 50px;
		margin: 2rem auto;
	}

	.cards {
		margin: 0 auto 6rem auto;
		justify-items: center;
		align-items: center;
	}

	.card {
		padding: 0;
	}

	.desktop-description {
		font-size: 1.2rem;
		line-height: 2.5rem;
		max-width: 60ch;
		text-wrap: balance;
		text-align: left;
		margin: 0 auto;
		padding: 2rem;
	}

	.discover-text {
		display: none;
	}
}
