[data-theme="light"] .services {
	color: var(--colour-secondary);
	font-family: var(--font-primary);
	background: url("/images/services-dark-sm.png") no-repeat center center;
	background-size: cover;
	min-height: 100vh;
}

[data-theme="dark"] .services {
	color: var(--colour-primary);
	font-family: var(--font-primary);
	background: url("/images/services-dark-sm.png") no-repeat center center;
	background-size: cover;
	min-height: 100vh;
}

[data-theme="light"] .dark-icon,
[data-theme="dark"] .light-icon {
	display: none;
}

[data-theme="light"] .light-icon,
[data-theme="dark"] .dark-icon {
	display: block;
}
