---
import "../styles/global.css";
import insta from "../assets/icons/Instagram.svg";
import github from "../assets/icons/GitHub.svg";
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="footer-content">
		<p>Follow me on</p>
		<ul class="social-links">
			<li>
				<a
					href="https://www.instagram.com/jjenk89"
					target="_blank"
					rel="noopener noreferrer"
				>
					<img
						src={insta.src}
						alt="Instagram Icon"
						width="32"
						height="32"
					/>
				</a>
			</li>
			<li>
				<a
					href="https://www.github.com/jjenk89"
					target="_blank"
					rel="noopener noreferrer"
				>
					<img
						src={github.src}
						alt="GitHub Icon"
						width="32"
						height="32"
					/>
				</a>
			</li>
		</ul>
		<p>&copy; {currentYear} Jason Jenkinson. All rights reserved.</p>
	</div>
</footer>

<style>
	footer {
		color: var(--colour-primary);
		font-family: var(--font-primary);
		font-weight: var(--light);
		font-size: 0.8rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.social-links {
		list-style: none;
		padding: 0;
		display: flex;
		justify-content: center;
	}

	.social-links li {
		margin: 0 1rem;
	}
</style>
