---
type Props = {};

const {} = Astro.props;
---

<section class="hero">
	<div class="hero-content">
		<h1 class="hero-title">Hi, I'm Jason</h1>
		<h2 class="hero-subtitle">Frontend Web Developer</h2>
		<p class="hero-description"></p>
	</div>
</section>

<style></style>
