---
import "../styles/global.css";
import "../styles/hero.css";
---

<section class="hero">
	<div class="hero-content">
		<h1 class="hero-title">Hi, I'm Jason</h1>
		<h2 class="hero-subtitle"><span>Frontend</span> Web Developer</h2>
		<div class="hero-description">
			<p>
				I’m originally from the UK and currently based in Vienna,
				Austria.
			</p>
			<p>
				I’ve designed and coded fully tested, functional and visually
				appealing web apps both for clients and as pet projects.
			</p>
			<p>I can help bring your website ideas to life.</p>
		</div>
		<div class="hero-btns">
			<a class="view-btn" href="/projects">View My Work</a>
			<a class="contact-btn" href="/contact">Get In Touch</a>
		</div>
	</div>
</section>
