---
import { SEO } from "astro-seo";
const pageTitle = Astro.props.title || "Web Developer";
---

<!doctype html>
<html lang="en">
	<head>
		<SEO
			title={`JJenk89 - ${pageTitle}`}
			description="Welcome to my portfolio. Here you can get a feel for my work and style as a web developer."
			canonical="https://jjenk89.dev"
			openGraph={{
				basic: {
					title: "JJenk89 - Web Developer",
					type: "og:image",
					url: "https://jjenk89.dev",
					image: "/images/OG.png",
				},
				optional: {
					locale: "en_GB",
					description:
						"Welcome to my portfolio. Here you can get a feel for my work and style as a web developer.",
				},
			}}
			extend={{
				link: [
					{
						rel: "icon",
						type: "image/svg+xml",
						href: "/favicon-lrg.svg",
					},
				],
				meta: [
					{
						name: "JJenk89, Jason Jenkinson",
					},
					{
						content:
							"web development, web developer, frontend, portfolio, JJenk89, Jason Jenkinson, web design, web apps, web copy, copywriting, UK, Austria, Vienna, English, German",
					},
				],
			}}
		/>
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>JJenk89 - {pageTitle}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<script is:inline>
			const preferredTheme = localStorage.getItem("theme") || "dark";
			document.documentElement.setAttribute("data-theme", preferredTheme);
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
